<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
   
		<command
		       id="refactorer.commands.analyzeWorkspace"
		       name="Analizar el WorkSpace"/>
		<command
		    id="refactorer.commands.analyzeProject"
		    name="Analizar el Proyecto"/>
		<command
		    id="refactorer.commands.analyzeSingleFile"
		    name="Analizar la Clase"/>
		<command
			id="refactorer.commands.getHistory"
			name="Consultar historico"/>
	</extension>
	
	<extension point="org.eclipse.ui.handlers">
	     
	     <handler
			class="main.handler.AnalyzeWorkspaceHandler"
			commandId="refactorer.commands.analyzeWorkspace"/>
	     <handler
	        class="main.handler.AnalyzeProjectHandler"
	        commandId="refactorer.commands.analyzeProject"/>
	    <handler
	        class="main.handler.AnalyzeSingleFileHandler"
	        commandId="refactorer.commands.analyzeSingleFile"/>
	    <handler
	        class="main.handler.GetAnalysisHiistory"
	        commandId="refactorer.commands.getHistory"/>  
	</extension>
	
	<extension point="org.eclipse.ui.menus">
	     
	     <menuContribution locationURI="menu:org.eclipse.ui.main.menu">
	         <menu id="refactorer.menu" label="Refactorer">
				<command 
					commandId="refactorer.commands.analyzeWorkspace"
					label="Analizar Complejidad Cognitiva del WorkSpace"
					style="push"
				/>
				<command 
					commandId="refactorer.commands.getHistory"
					label="Ver histórico de Análisis de Complejidad"
					style="push"
				/>
	         </menu>
	     </menuContribution>

		<!-- Opción PopUp sólo para proyectos -->
	    <menuContribution locationURI="popup:org.eclipse.ui.popup.any">
		    <command
		        commandId="refactorer.commands.analyzeProject"
		        label="Analizar Complejidad del Proyecto"
		        style="push">
		        <visibleWhen checkEnabled="true">
		            <with variable="selection">
		            	<iterate ifEmpty="false">
                			<instanceof value="org.eclipse.jdt.core.IJavaProject"/>
	                    </iterate>
		            </with>
		        </visibleWhen>
		    </command>
		</menuContribution>

		<!-- Opción PopUp sólo para clases .java -->
	   <menuContribution locationURI="popup:org.eclipse.ui.popup.any">
		    <command
		        commandId="refactorer.commands.analyzeSingleFile"
		        label="Analizar Complejidad de esta Clase"
		        style="push">
		        <visibleWhen checkEnabled="true">
		            <with variable="selection">
		                <iterate ifEmpty="false">
							<instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
		                </iterate>
		            </with>
		        </visibleWhen>
		    </command>
		</menuContribution>

	</extension>


</plugin>
